<h1>Search Engine for My Database</h1>
<form action="/search" method="post">
    <input type="text" name="website">
    <button type="submit" class="btn btn-success">
        Search Users by Website
    </button>
</form>

{{#if users}}
   <ul>
   {{#each users}}
   <li>Name is: {{username}} , website: {{website}} and Salary: {{salary}}</li>
   {{/each}}
   </ul>
{{/if}}

<form action="/movieData" method="POST">
   <input type="text" name="movieName">
   <button type="submit" class="btn btn-danger">Movie List</button>
</form>
{{#if movies}}
<div class="jumbotron">
   {{#each movies}}
          <div class="container">
          <img src="{{Poster}}" width="400px" height="600px">
          Title: {{Title}}
          Link: <a href="https://www.imdb.com/title/{{imdbID}}">more on IMDB</a>
          Type: {{type}} 
          Released: {{Year}} 
          <a href="https://www.imdb.com/title/{{imdbID}}/plotsummary">Plot</a>
          </div>
    {{/each}}
</div>
{{else}}
    No movie found
{{/if}}
   
